.kc-episode-item {
    display: block;
    text-decoration: none;
    color: $body-font-color;
    padding: rem-calc(12 8);
    transition: background-color 0.2s;

    &:hover,
    &:focus {
        background-color: #f4f7f7;
        cursor: pointer;
        color: inherit;
    }

    dt, dd
    {
        margin: 0;
    }

    &__inner {
        font-size: rem-calc(14);
        align-items: center;
        @include xy-grid(horizontal,false);

        > *
        {
            @include xy-cell-base(shrink);
        }
    }

    &__img {
        width: rem-calc(64);
        border-radius: $button-radius;
        margin-right: rem-calc(20);
    }
    &__txt
    {
        @include xy-cell-base(auto);
    }

    &__title {
        @extend .h3;
        font-size: rem-calc(16);
        margin-bottom: rem-calc(2);
    }
    &__info {
        font-size: rem-calc(12);
        @include xy-grid(horizontal,false);

        > div
        {
            margin: 0 rem-calc(21);

            &:last-child
            {
                margin-right: 0;
            }
        }
    }
    &__released {
        color: #5b5956;

        .kl-dt-separator {
            text-transform: uppercase;
        }
    }
    &__author {
        display: inline-block;
    }
    &__series {
        display: inline-block;
        dd {
            &::before {
                content: "·";
                display: inline-block;
                font-size: 150%;
                vertical-align: middle;
                position: relative;
                top: -0.1em;
                line-height: 0;
                margin-left: 0.4ch;
                margin-right: 0.5ch;
            }
        }
    }
    &__location {
    }
    &__duration {
    }
    &__done
    {
        color: $medium-gray;

        &--true
        {
            color: $kast-green;
        }
    }

    i {
        @extend .broadcast-icon
    }
}

.kc-episode-sum {
    display: block;
    text-decoration: none;
    color: $body-font-color;
    padding: rem-calc(16 8);
    transition: background-color 0.2s;

    dt, dd
    {
        margin: 0;
    }

    &:hover,
    &:focus {
        background-color: #f4f7f7;
        cursor: pointer;
        color: inherit;
    }

    &__inner {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: rem-calc(16);
        font-size: rem-calc(12);
    }

    &__title {
        @extend .h3;
        font-size: rem-calc(16);
        margin-bottom: rem-calc(2);
    }
    &__info {
        div {
            margin-top: rem-calc(6);

            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__released {
        color: #5b5956;
        width: 100%;
        clear: both;

        .kl-dt-separator {
            text-transform: uppercase;
        }
    }
    &__author {
        float: left;
        clear: left;
    }
    &__series {
        dd {
            &::before {
                content: "·";
                display: inline-block;
                font-size: 150%;
                vertical-align: middle;
                position: relative;
                top: -0.1em;
                line-height: 0;
                margin-left: 0.25em;
                margin-right: 0.25em;
            }
        }
    }
    &__location {
        float: left;
        clear: left;
    }
    &__duration {
        text-align: right;
        float: right;
    }

    &__img {
        width: rem-calc(114);
        border-radius: $button-radius;
    }

    i {
        @extend .broadcast-icon
    }
}

// Episodes in table list

.ko-episode-tbl {
    border: none;
    margin-bottom: rem-calc(8);
    thead,
    tbody,
    tfoot {
        border: none;
    }
    tr {
        border-top: 1px solid rgba(126, 146, 160, 0.2);

        &:first-child {
            border-top: none;
        }

        &,
        &:nth-child(2n) {
            background-color: transparent;
        }

        &:hover,
        &:focus {
            background-color: #f4f7f7;
            cursor: pointer;
        }
    }
    thead {
        @include element-invisible;
    }
    td,
    th {
        padding: rem-calc(16 24);
        font-size: rem-calc(12);

        &:first-child {
            padding-left: rem-calc(8);
            padding-right: rem-calc(4);
        }
        &:last-child {
            padding-right: rem-calc(8);
        }
    }
    td {
        color: $body-font-color;
        width: 0.1%;
        white-space: nowrap;

        &.ko-episode-tbl__num {
            color: $medium-gray;
        }
        &.ko-episode-tbl__title {
            font-size: rem-calc(14);
            color: $header-color;
            font-weight: $header-font-weight;
            width: auto;
            white-space: normal;
        }
    }
    td#{&}__done {
        color: $medium-gray;

        &--true
        {
            color: $kast-green;
        }
    }
    i {
        @extend .broadcast-icon
    }
}

.kc-episode-list
{
    list-style: none;
    margin: 0;

    li
    {
        border-top: 1px solid rgba(126, 146, 160, 0.2);

        &:first-child {
            border-top: none;
        }
    }
}

.kc-episode {

    dt, dd
    {
        margin: 0;
    }

    &__hdr {
        font-size: rem-calc(14);
        align-items: center;
        @include xy-grid(horizontal,false);
        border-bottom: 1px solid rgba(126, 146, 160, 0.2);
        padding-bottom: rem-calc(32);
        margin-bottom: rem-calc(24);

        > *
        {
            @include xy-cell-base(shrink);
        }
    }

    &__img {
        width: rem-calc(64);
        border-radius: $button-radius;
        margin-right: rem-calc(20);
    }
    &__txt
    {
        @include xy-cell-base(auto);
    }

    &__title {
        @extend .h4;
        margin-bottom: rem-calc(2);
    }
    &__info {
        font-size: rem-calc(12);
        @include xy-grid(horizontal,false);

        > div
        {
            margin: 0 rem-calc(21);

            &:last-child
            {
                margin-right: 0;
            }
        }
    }
    &__released {
        color: #5b5956;

        .kl-dt-separator {
            text-transform: uppercase;
        }
    }
    &__author {
        display: inline-block;
    }
    &__series {
        display: inline-block;
        dd {
            &::before {
                content: "·";
                display: inline-block;
                font-size: 150%;
                vertical-align: middle;
                position: relative;
                top: -0.1em;
                line-height: 0;
                margin-left: 0.4ch;
                margin-right: 0.5ch;
            }
        }
    }
    &__location {
    }
    &__duration {
    }
    &__done
    {
        color: $medium-gray;

        &--true
        {
            color: $kast-green;
        }
    }
    &__bdy
    {
        border-bottom: 1px solid rgba(126, 146, 160, 0.2);
        padding-bottom: rem-calc(24);
        margin-bottom: rem-calc(32);
        margin-top: rem-calc(22);
    }
    &__notes
    {
        list-style: none;
        margin: rem-calc(16) 0 0;
        font-size: rem-calc(14);
        font-weight: 500;

        a
        {
            color: $header-color;

            &:hover,
            &:active
            {
                color: $kast-green;
            }
        }

        > li
        {
            margin: rem-calc(10) 0;

            &:last-child
            {
                margin-bottom: 0;
            }
        }
        i
        {
            color: $kast-green;
            margin-right: rem-calc(16);
        }
    }

    i {
        @extend .broadcast-icon
    }
}