<tr>
    <td class="kc-episode-sum__num">
        {{ @index }}
    </td>
    <td class="kc-episode-sum__title">
        {{ name }} - {{ author }}
    </td>
    <td class="kc-episode-sum__date">
        <time datetime="{{ date }} {{ time }}" class="ko-datetime">
            {{ date }} <span class="kl-dt-separator">{{ time }}</span>
        </time>
    </td>
    <td class="kc-episode-sum__time">
        <i class="ki-clock"></i> {{ duration }} min
    </td>
    <td class="kc-episode-sum__done">
        <i class="ki-headphones"></i> {{ listened }}
    </td>
</tr>