<nav aria-label="Pagination" class="ko-pagination">
  <ul class="ko-pagination__list">
    <li class="ko-pagination__prev is-disabled"><span>Previous <span class="ku-show-sr">page</span></span></li>
    <li class="ko-pagination__current"><span class="ku-show-sr">You're on page</span> 1</li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li class="ko-pagination__ellipsis" aria-hidden="true"></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li><a href="#" aria-label="Page 13">13</a></li>
    <li class="ko-pagination__next"><a href="#" aria-label="Next page">Next <span class="ku-show-sr">page</span></a></li>
  </ul>
</nav>