<div class="kc-podcast-info">
    <div class="kc-podcast-info__cell--artwork">
        <img src="https://placeimg.com/144/144/nature" alt="" class="kc-podcast-info__img">
    </div>
    <div class="kc-podcast-info__cell--txt">
        <div class="kc-podcast-info__title">City Lights Church Brisbane</div>
        <div class="kc-podcast-info__author">By City Lights Church</div>
    </div>
    <div class="kc-podcast-info__cell--dir">
        <a href="#" class="kc-podcast-info__btn--img" title="Listen on Apple Podcasts">
            <img src="{{root}}assets/img/apple-podcasts-badge-blk-wht.svg" alt="Listen on Apple Podcasts" />
            <span class="show-for-sr">Listen on Apple Podcasts</span>
        </a>
        <a href="#" class="kc-podcast-info__btn--img" title="Listen on Google Podcasts">
            <img src="{{root}}assets/img/google-podcasts-badge-blk-wht.svg" alt="Listen on Apple Podcasts" />
            <span class="show-for-sr">Google Podcasts</span>
        </a>
        <a href="#" class="kc-podcast-info__btn--img" title="Listen on Google Podcasts">
            <img src="{{root}}assets/img/spotify-podcast-badge-blk-grn.svg" alt="Listen on Apple Podcasts" />
            <span class="show-for-sr">Spotify</span>
        </a>
        <a href="#" class="kc-podcast-info__btn kc-podcast-info__btn--rss" title="Click to view the RSS feed URL">
            <span class="ki-rss"></span>
            RSS
        </a>
        <div class="kc-podcast-info__help">
            <span class="ki-question"></span> <a href="#">How this works?</a>
        </div>
    </div>
</div>