<div class="kc-search">
    <div class="kc-search__cell--search">
        <form>
            <label for="episode-search" class="ko-label ku-show-sr">Search</label>
            <div class="input-group kc-search__input">
                <div class="input-group-button">
                    <button type="submit" class="button kc-search__submit">
                        <span class="ki-magnify"></span>
                        <span class="show-for-sr">Submit search</span>
                    </button>
                </div>
                <input type="search" class="ko-input input-group-field" placeholder="Search {{ selection }}">
            </div>
        </form>
    </div>
    {{#if viewselect}}
    <div class="kc-search__cell">
        View by:
        <button class="ko-button ko-button--view-type" type="button" data-toggle="view-options">{{ selection }}</button>
        <div class="kc-search__dropdown" id="view-options" data-dropdown data-hover="false" data-close-on-click="true" data-v-offset=8 data-position="bottom" data-alignment="right" data-hover-pane="true">
            <ul class="vertical menu">
                <li><a href="index.html">Series</a></li>
                <li><a href="series-episodes.html">Series & episodes</a></li>
                <li><a href="episodes.html">Episodes</a></li>
            </ul>
        </div>
    </div>
    {{/if}}
</div>