<div class="kc-search">
    <div class="kc-search__cell">
        <form>
            <label for="episode-search" class="ko-label ku-show-sr">Search</label>
            <div class="input-group kc-search__input">
                <div class="input-group-button">
                    <button type="submit" class="button kc-search__submit">
                        <span class="ki-magnify"></span>
                        <span class="show-for-sr">Submit search</span>
                    </button>
                </div>
                <input type="search" class="ko-input input-group-field" placeholder="Search series">
            </div>
        </form>
    </div>
    <div class="kc-search__cell">
        View by:
        <button class="ko-button ko-button--dropdown ko-button--hollow" type="button" data-toggle="view-options">Series & episodes</button>
        <div class="dropdown-pane" id="view-options" data-dropdown data-hover="true" data-hover-pane="true">
            <ul class="vertical menu">
                <li><a href="#">Series</a></li>
                <li><a href="#">Series & episodes</a></li>
                <li><a href="#">Episodes</a></li>
            </ul>
        </div>
    </div>
</div>