<article class="kc-series-card" onclick="location.href='series.html'">
    <img src="https://placeimg.com/400/400/nature" alt="Faith Lives Here" class="kc-series-card__img">
    <h1 class="kc-series-card__title">Faith Lives Here</h1>
    <div class="kc-series-card__sum">
        <p>Series summary a quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <dl class="ko-keyvalue ko-keyvalue--value-only ko-keyvalue--inline kc-series-card__info">
        <dt>Episodes in series</dt>
        <dd>
            <i class="ki-info"></i> 5 episodes (complete)
        </dd>
        <dt>Total time</dt>
        <dd>
            <i class="ki-clock"></i> 3h 35min
        </dd>
        <dt>Listened</dt>
        <dd>
            <i class="ki-headphones"></i><span class="show-for-sr">no</span>
        </dd>
    </dl>
</article>