<a href="series.html" class="kc-series-card">
    <article class="kc-series-card__inner">
        <div class="kc-series-card__img-wrp">
            <img src="https://placeimg.com/400/400/nature" alt="Faith Lives Here" class="kc-series-card__img">
        </div>
        <div class="kc-series-card__txt">
            <h1 class="kc-series-card__title">Faith Lives Here</h1>
            <div class="kc-series-card__sum">
                <p>Series summary a quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <dl class="ko-keyvalue ko-keyvalue--value-only kc-series-card__info">
                <div class="kc-series-card__episodes">
                    <dt>Episodes in series</dt>
                    <dd>
                        <i class="ki-info"></i> 5 episodes (complete)
                    </dd>
                </div>
                <div class="kc-series-card__time">
                    <dt>Total time</dt>
                    <dd>
                        <i class="ki-clock"></i> 3h 35min
                    </dd>
                </div>
                <div class="kc-series-card__done kc-series-card__done--{{ listened }}">
                    <dt>Listened</dt>
                    <dd>
                        <i class="ki-headphones"></i><span class="ku-show-sr">{{ listened }}</span>
                    </dd>
                </div>
            </dl>
        </div>
    </article>
</a>