<article class="kc-series-card">
    <a href="series.html" class="kc-series-card__img-wrp">
        <img src="https://placeimg.com/400/400/nature" alt="Faith Lives Here" class="kc-series-card__img">
    </a>
    <div class="kc-series-card__txt">
        <h1 class="kc-series-card__title"><a href="series.html">Faith Lives Here</a></h1>
        <div class="kc-series-card__sum">
            <p>Series summary a quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <a href="series.html" class="ko-more">View series<i class="ki-chevron-alt-right"></i></a>
    </div>
</article>