<div class="kc-subscribe kc-subscribe--wide">
    <div class="kc-subscribe__cell">
        <h3 class="kc-subscribe__hdg">Subscribe to new episodes</h3>
    </div>
    <div class="kc-subscribe__cell">
        <label class="ko-label ku-show-sr ko-label--error ko-label--required">First name</label>
        <input type="text" class="ko-input ko-input--error" placeholder="First name" required="">
        <!-- <div class="ko-validation">
            First name is required.
        </div> -->
    </div>
    <div class="kc-subscribe__cell">
        <label class="ko-label ku-show-sr ko-label--required">Email address</label>
        <input type="email" class="ko-input" placeholder="Email address" required="">
    </div>
    <div class="kc-subscribe__cell">
        <button type="button" class="ko-button ko-button--form">Subscribe</button>
    </div>
</div>